$background: #F47A7A;

.header {
  background-color: $background;

  color: #fff;

  display: flex;
  justify-content: space-between;  
  align-items: center;  
  
  padding: 10px 30px;  

  &-logo {
    display: flex;
    align-items: center;
  }
}

.header-cart {
  display: flex;
  align-items: center;

  .cart {
    height: 30px;
  }
}